*{
	padding: 0px;
	margin :0px;
	box-sizing :border-box;
}
#btn{
	border-radius: 0%;
	padding:0px 5px
	



}
.nav-bar{
	display:flex;
	justify-content :left;
	align-items : center;
	padding: 5px 10px;
	align-content: center;
	color:white;
	gap:15px;
	background-color: black
	
}